docs/nodered/flows (1).json
[
    {
        "id": "4e337be156e49d8d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eb1204c41fc7fbc",
        "type": "tab",
        "label": "Mirac_VIBIT1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "081aaf05b2f7e42f",
        "type": "tab",
        "label": "Mirac_VIBIT1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b390f9d369b8c389",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.14.103",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 3000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 1000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "3d38847b9c8494c6",
        "type": "ui_tab",
        "name": "Mirac_VIBITLITE1",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "17de2a6c38501702",
        "type": "ui_group",
        "name": "VIBIT 1 Parameters",
        "tab": "3d38847b9c8494c6",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "86c7e3fe0583c9e2",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "96d19cdee22b7d23",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "47b8bb5128e1f8de",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5472e7b791988827",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2ba12008d908de6",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ad2b1a85f52995c0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c21b1be45a5d77c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "e39361f404274c59",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "35d131bb4a45852d",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "311c617ac7352da7",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "067a018ea84b811d",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "82d95c7018fcb8e5",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef93641e97e04e4c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "2afa06f837a16081",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "72bc8ec5d342337b",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "667578c97c635d45",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "642970109870bc99",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "81da6f43999f5226",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "72c98845f4a9a02e",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "885aa3e272e73535",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "ebfd2135965c8b9d",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8f761c1ac6804b0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "54c87121742f96f0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "c47f50c7cfaf7ced",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "a25c7b2cca0b3403",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f090ca132d485e0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "261c2ed9f1ed610c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "13a2cb8717320784",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ee4991ad292444c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "6cd16dfb286b8eb4",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "530e1c916e0d9685",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "b846ffca2b4438fb",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac7edcbac77e81c8",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ff8ef65a629f256",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "edc87717e345209c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ee6c3d2fa9199ef",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "1701f904082d7fd4",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "0206e70d1b48d624",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "944ed1491349c3f4",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "38730496497dcd52",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 56,
        "width": 11,
        "height": 1
    },
    {
        "id": "680653ce642feaa5",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "e460938c2e54bf55",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "9dbf15212943d926",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "f80f5360a50801a6",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 60,
        "width": 11,
        "height": 1
    },
    {
        "id": "a06257fbac779dc6",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "95a1ecd0b8a4b523",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d85db538c7d2efd",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "d799b1d919457a83",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 64,
        "width": 11,
        "height": 1
    },
    {
        "id": "8f24d06c52d35c1f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cfe54a28a3ab5956",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "27c1811b909dd5b8",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ebbbb8a0ce26eac5",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7124013e7c1c173",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "070c5dd233c80743",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "361607fa54299f83",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "61cbd1911a4e14c9",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a92cf9a7b424f1ac",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "32dff41c2d26ecb8",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "af425d45cac7f13b",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "314a205d28723c86",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "2bbce6622e140ba0",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "3b9ced28dbbcac21",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "0012833e4670e51a",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "ade7c687274b3f0a",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ba977c8734d4541",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e53a2520abaa06d",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "065204e4b467e086",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "f7d5a4435d3dd88c",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "db6c73787f0d201a",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "1236b46ce5c72267",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "2abd78b4b9a9fb99",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "27070973d741468b",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "3fdc5719af03e32d",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "58e7e6c96ac3d639",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "480e1b9f1f1ecf32",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e59933a2e104561",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "15804891b0bfbd80",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "acbcb727f3d1425f",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "020263bf9d6cb908",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "c06c773da88607c0",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "bdc0f1ca710a504c",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "95dbc9c3af191011",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "030caa4d29779919",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6cdbd029097afa7",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "10212eacd668560d",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "911688d14696bca0",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "605f7035925e7d19",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "89b31ac7bab41dbb",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "b51224a1343db4d0",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 56,
        "width": 11,
        "height": 1
    },
    {
        "id": "6b1226a50f80b4a2",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "45039b1834c60984",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e1fc32c83a7ce0b",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "96dcf2fa71d76f94",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 60,
        "width": 11,
        "height": 1
    },
    {
        "id": "47c521105b27ae4f",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "c1f6a73ce541a6ef",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "27bcab0326a6b25f",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f61487733bd8c73",
        "type": "ui_spacer",
        "z": "081aaf05b2f7e42f",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 64,
        "width": 11,
        "height": 1
    },
    {
        "id": "ec051a3da4ff2bce",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 16",
        "func": "const regLow = msg.payload[0];\nconst regHigh = msg.payload[1];\n\nconst buf = Buffer.alloc(4);\nbuf.writeUInt16BE(regHigh, 0);\nbuf.writeUInt16BE(regLow, 2);\n\nmsg.payload = buf.readFloatBE(0);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 640,
        "wires": [
            [
                "59cb9147b05c6d43"
            ]
        ]
    },
    {
        "id": "636c69f1b44c0e29",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 6",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "f30c10e0144ad923"
            ]
        ]
    },
    {
        "id": "350fa8841e033c89",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 5",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "bc580860f20a5dfc"
            ]
        ]
    },
    {
        "id": "878f165d49caddf0",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 4",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "e467a6c4e6dd0bd0"
            ]
        ]
    },
    {
        "id": "7b9e02b8bf2c3781",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 3",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "a27ede3b9f8f41c9"
            ]
        ]
    },
    {
        "id": "e0abf3da98f615f1",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 7",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "53bb90b18061a604"
            ]
        ]
    },
    {
        "id": "2253de44d2fa6e7f",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 8",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "7a1e8c34d246cf74"
            ]
        ]
    },
    {
        "id": "3e47165702f63797",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 9",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "fd19083f52a67167"
            ]
        ]
    },
    {
        "id": "1bd446a838777157",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 10",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "ceea368d7201e006"
            ]
        ]
    },
    {
        "id": "d50969068028fc28",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 11",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "2a9fa29d9c2e515b"
            ]
        ]
    },
    {
        "id": "be94a8891301d125",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 12",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "92d875b38e4fb401"
            ]
        ]
    },
    {
        "id": "18677e4a3aa30d80",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 13",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "210b037aa6221c26"
            ]
        ]
    },
    {
        "id": "76324f4d54064d17",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 14",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 560,
        "wires": [
            [
                "a2779775d82fe9c5"
            ]
        ]
    },
    {
        "id": "312dfe5fa97cab05",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 15",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 600,
        "wires": [
            [
                "1baebb22f12e7ef8"
            ]
        ]
    },
    {
        "id": "e964aeba7d6d8bf8",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 2",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "fdcdb81f0dba4a5b"
            ]
        ]
    },
    {
        "id": "fe242e4b4fab5f5c",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 1",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 40,
        "wires": [
            [
                "07f4c10d8eea2d62"
            ]
        ]
    },
    {
        "id": "f0bbb951f950947c",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "Sensor 1 (ID 1)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4013",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "ec051a3da4ff2bce"
            ],
            []
        ]
    },
    {
        "id": "5612ddc32ece585a",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 x rms acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4001",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "312dfe5fa97cab05"
            ],
            []
        ]
    },
    {
        "id": "d2ee8856c8079847",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis RMS accleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4003",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "76324f4d54064d17"
            ],
            []
        ]
    },
    {
        "id": "928af306d6ab81ef",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4009",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "d50969068028fc28"
            ],
            []
        ]
    },
    {
        "id": "31455e603bbc22db",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Z axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4011",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "1bd446a838777157"
            ],
            []
        ]
    },
    {
        "id": "ca9cfa3dae3cf05b",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4017",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "2253de44d2fa6e7f"
            ],
            []
        ]
    },
    {
        "id": "78ea5b7dc13b6a8e",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Z axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4019",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "e0abf3da98f615f1"
            ],
            []
        ]
    },
    {
        "id": "d9fd44cde1d80ac0",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 X axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4021",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "636c69f1b44c0e29"
            ],
            []
        ]
    },
    {
        "id": "16090769e50baffb",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4023",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "350fa8841e033c89"
            ],
            []
        ]
    },
    {
        "id": "d6ddabb420fd90b4",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 X axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4015",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "3e47165702f63797"
            ],
            []
        ]
    },
    {
        "id": "8f3281a15ad8c2c0",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 X axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4007",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "be94a8891301d125"
            ],
            []
        ]
    },
    {
        "id": "a921b5ad64a9bc46",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1  Z axis RMS acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4005",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "18677e4a3aa30d80"
            ],
            []
        ]
    },
    {
        "id": "fe22b136773fdad5",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Z axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4025",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "878f165d49caddf0"
            ],
            []
        ]
    },
    {
        "id": "2f9d0d1681746dfb",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 vibit led status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4035",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "e964aeba7d6d8bf8"
            ],
            []
        ]
    },
    {
        "id": "e95563b68cea09d3",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 vibit reboot count",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4031",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "7b9e02b8bf2c3781"
            ],
            []
        ]
    },
    {
        "id": "7a670c506f4eaa34",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 RPM",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4039",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "fe242e4b4fab5f5c"
            ],
            []
        ]
    },
    {
        "id": "59cb9147b05c6d43",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "Sensor 1",
        "group": "17de2a6c38501702",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Temp",
        "label": "C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#cccc33",
            "#3acb71"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "bc580860f20a5dfc",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 35,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7af019"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "f30c10e0144ad923",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 31,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#30d025"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "53bb90b18061a604",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 9,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#2ee031"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a1e8c34d246cf74",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 27,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#34d54f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "ceea368d7201e006",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 53,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1ec51b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a9fa29d9c2e515b",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#17d346"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "1baebb22f12e7ef8",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 29,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": " vibit1 x RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#eded1d",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "210b037aa6221c26",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 33,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#59cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "a2779775d82fe9c5",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd19083f52a67167",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 25,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#14db6b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "e467a6c4e6dd0bd0",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 55,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak velocity",
        "label": "m/ms",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1fd312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "a27ede3b9f8f41c9",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 49,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit 1 reboot count",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "07f4c10d8eea2d62",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 51,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 calculated RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#01f401",
            "#e6e600",
            "#18b715"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "fdcdb81f0dba4a5b",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 11,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit 1 led status",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#32d312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "92d875b38e4fb401",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#23e726"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "1b55a15a491b80e1",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "Sensor 1 (ID 1)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4013",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "3ccf971660395b46"
            ],
            []
        ]
    },
    {
        "id": "926362b39be69de0",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "Sensor 1",
        "group": "17de2a6c38501702",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Temp",
        "label": "C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#cccc33",
            "#3acb71"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "3ccf971660395b46",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 16",
        "func": "const regLow = msg.payload[0];\nconst regHigh = msg.payload[1];\n\nconst buf = Buffer.alloc(4);\nbuf.writeUInt16BE(regHigh, 0);\nbuf.writeUInt16BE(regLow, 2);\n\nmsg.payload = buf.readFloatBE(0);\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.sensor_1 = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 640,
        "wires": [
            [
                "926362b39be69de0",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "f9ad45d4620451e0",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 x rms acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4001",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "12bc6e3c1005c3bf"
            ],
            []
        ]
    },
    {
        "id": "f805a29dfb986d6b",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Y axis RMS accleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4003",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "bb53b61470332395"
            ],
            []
        ]
    },
    {
        "id": "e1bf3a6bc7f64c05",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Y axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4009",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "c9f79afdf319e691"
            ],
            []
        ]
    },
    {
        "id": "cf6d4821aeb23291",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Z axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4011",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "e53517f87696ed6e"
            ],
            []
        ]
    },
    {
        "id": "1b8f873bb0d729eb",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Y axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4017",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "8c9c2f247476f5c7"
            ],
            []
        ]
    },
    {
        "id": "b68e101e43d914d1",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Z axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4019",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "c6f7dcacabf0b36b"
            ],
            []
        ]
    },
    {
        "id": "e30641f067e696cd",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 X axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4021",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "5a0e3033e284da6c"
            ],
            []
        ]
    },
    {
        "id": "92c9367e7bd7788d",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Y axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4023",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "157c3a46f6799187"
            ],
            []
        ]
    },
    {
        "id": "a832a2c6359fc464",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 X axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4015",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "177bbbc86d581e7e"
            ],
            []
        ]
    },
    {
        "id": "93b6a751c3219a14",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 X axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4007",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "0dcbf5a298cb9e70"
            ],
            []
        ]
    },
    {
        "id": "5a0e3033e284da6c",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 6",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_peak_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "5049fea0fa3f54a5",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "ab63ed8e302e4f6e",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 35,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7af019"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "5049fea0fa3f54a5",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 31,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#30d025"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "7128b96f5a89be7b",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 9,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#2ee031"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "bccf7140c80244df",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 27,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#34d54f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "ee803eb813723b53",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 53,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1ec51b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "ed1d38a03a9a9ad8",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#17d346"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "9d104c1713c7be05",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 29,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": " vibit1 x RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#eded1d",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "0a9cec967d266fbe",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 33,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#59cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "1577b81a1b60a0a9",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "93debd530ca5cc05",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 25,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#14db6b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e12a43eba9a291a",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1  Z axis RMS acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4005",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "14e851202f56edbe"
            ],
            []
        ]
    },
    {
        "id": "8cd7eb5d2276c121",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 Z axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4025",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "c5e0a4f22a5c3d51"
            ],
            []
        ]
    },
    {
        "id": "222cd9e6ba6e0194",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 vibit led status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4035",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "7ac820f893d87e79"
            ],
            []
        ]
    },
    {
        "id": "57522ac557b4c450",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 vibit reboot count",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4031",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "8d240be51c2e5b65"
            ],
            []
        ]
    },
    {
        "id": "ce06426ac610e80d",
        "type": "modbus-read",
        "z": "081aaf05b2f7e42f",
        "name": "sensor1 RPM",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4039",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "3bbf020d9a3325f4"
            ],
            []
        ]
    },
    {
        "id": "31c75429239d009e",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 55,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak velocity",
        "label": "m/ms",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1fd312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "87911ee39b397299",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 49,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit 1 reboot count",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "ec1a3099127244bf",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 51,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 calculated RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#01f401",
            "#e6e600",
            "#18b715"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "a2c20398b2a91a81",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 11,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit 1 led status",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#32d312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "157c3a46f6799187",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 5",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_peak_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "ab63ed8e302e4f6e",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "c5e0a4f22a5c3d51",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 4",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_peak_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "31c75429239d009e",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "8d240be51c2e5b65",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 3",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.reboot_count = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "87911ee39b397299",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "c6f7dcacabf0b36b",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 7",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_peak_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "7128b96f5a89be7b",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "8c9c2f247476f5c7",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 8",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_peak_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "bccf7140c80244df",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "177bbbc86d581e7e",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 9",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_peak_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "93debd530ca5cc05",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "e53517f87696ed6e",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 10",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_rms_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "ee803eb813723b53",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "c9f79afdf319e691",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 11",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_rms_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "ed1d38a03a9a9ad8",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "0dcbf5a298cb9e70",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 12",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_rms_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "0f2eddd849462f6e",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "14e851202f56edbe",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 13",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_rms_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "0a9cec967d266fbe",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "bb53b61470332395",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 14",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_rms_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 560,
        "wires": [
            [
                "1577b81a1b60a0a9",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "12bc6e3c1005c3bf",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 15",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_rms_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 600,
        "wires": [
            [
                "9d104c1713c7be05",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "7ac820f893d87e79",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 2",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.lead_status = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "a2c20398b2a91a81",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "3bbf020d9a3325f4",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 1",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.calculated_rpm = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 40,
        "wires": [
            [
                "ec1a3099127244bf",
                "78d03bed77df21d3"
            ]
        ]
    },
    {
        "id": "78d03bed77df21d3",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "VIBIT1 Aggregator (mappedData)",
        "func": "const v = global.get('vibit') || {};\n\nconst mappedData = {\n  status: {\n    green: v.lead_status === 1,\n    yellow: v.lead_status === 0,\n    red: false,\n    cycle_start: (v.calculated_rpm || 0) > 0\n  },\n  spindle: {\n    speed: v.calculated_rpm || 0,\n    temperature: v.sensor_1 || 0,\n    vibration: v.x_rms_acceleration || 0\n  },\n  tool: {\n    number: 1,\n    temperature: v.sensor_1 || 0,\n    vibration: v.y_rms_acceleration || 0,\n    reboot_count: v.reboot_count || 0\n  },\n  axes: {\n    x: {\n      rms_accel:    v.x_rms_acceleration || 0,\n      rms_velocity: v.x_rms_velocity || 0,\n      peak_accel:   v.x_peak_acceleration || 0,\n      peak_velocity: v.x_peak_velocity || 0\n    },\n    y: {\n      rms_accel:    v.y_rms_acceleration || 0,\n      rms_velocity: v.y_rms_velocity || 0,\n      peak_accel:   v.y_peak_acceleration || 0,\n      peak_velocity: v.y_peak_velocity || 0\n    },\n    z: {\n      rms_accel:    v.z_rms_acceleration || 0,\n      rms_velocity: v.z_rms_velocity || 0,\n      peak_accel:   v.z_peak_acceleration || 0,\n      peak_velocity: v.z_peak_velocity || 0\n    }\n  }\n};\n\nmsg.payload = mappedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "0f2eddd849462f6e",
        "type": "ui_gauge",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#23e726"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "c7416e84430d44ed",
        "type": "http in",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "url": "/vibit",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 980,
        "y": 980,
        "wires": [
            [
                "6699f89841aaa1b2"
            ]
        ]
    },
    {
        "id": "d4563b4e1e7e93ab",
        "type": "http response",
        "z": "081aaf05b2f7e42f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 980,
        "wires": []
    },
    {
        "id": "6699f89841aaa1b2",
        "type": "function",
        "z": "081aaf05b2f7e42f",
        "name": "function 18",
        "func": "let vibit = global.get(\"vibit\");\n\nmsg.payload = vibit;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 880,
        "wires": [
            [
                "d4563b4e1e7e93ab"
            ]
        ]
    },
    {
        "id": "6f81b3ea12cfda68",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-dashboard": "3.6.6"
        }
    }
]