docs/nodered/flows (3).json
[
    {
        "id": "c11103997c96ae9a",
        "type": "tab",
        "label": "VIBIT1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c54a5c5bbba6e4aa",   
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "Sensor 1 (ID 1)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4013",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 300,
        "y": 860,
        "wires": [
            [
                "98c5c2c0bcc37ac8"
            ],
            []
        ]
    },
    {
        "id": "4e8d08400a5e40ad",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "Sensor 1",
        "group": "1f51eef9c534c788",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Temp",
        "label": "C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#cccc33",
            "#3acb71"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 860,
        "wires": []
    },
    {
        "id": "98c5c2c0bcc37ac8",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 1",
        "func": "const regLow = msg.payload[0];\nconst regHigh = msg.payload[1];\n\nconst buf = Buffer.alloc(4);\nbuf.writeUInt16BE(regHigh, 0);\nbuf.writeUInt16BE(regLow, 2);\n\nmsg.payload = buf.readFloatBE(0);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 860,
        "wires": [
            [
                "4e8d08400a5e40ad"
            ]
        ]
    },
    {
        "id": "092895c06a6dd4e6",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 x rms acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4001",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 820,
        "wires": [
            [
                "3a0f625c19e09a0b"
            ],
            []
        ]
    },
    {
        "id": "04a0f1ef4253bd7c",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Y axis RMS accleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4003",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 780,
        "wires": [
            [
                "6599f7032bf7e5c3"
            ],
            []
        ]
    },
    {
        "id": "23b6bfbb2a151e5a",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Y axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4009",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 660,
        "wires": [
            [
                "c98f4573d198afe4"
            ],
            []
        ]
    },
    {
        "id": "f64902015300e4bd",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Z axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4011",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "4bb95d8a9adabfb7"
            ],
            []
        ]
    },
    {
        "id": "407ec8f2e2f88300",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Y axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4017",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "ee9ed8a93aa0d36c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "9054a8f76085be10"
            ],
            []
        ]
    },
    {
        "id": "b1cfe994542470d7",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Z axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4019",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "ee9ed8a93aa0d36c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "9e321688ce52a605"
            ],
            []
        ]
    },
    {
        "id": "30a7a6dcbfcd4f41",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 X axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4021",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "ee9ed8a93aa0d36c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "e8acc5ed60b27082"
            ],
            []
        ]
    },
    {
        "id": "6a920c7a820f0383",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Y axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4023",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "ee9ed8a93aa0d36c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "367e0f4c70b3a9bf"
            ],
            []
        ]
    },
    {
        "id": "092c17776ceeba7a",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 X axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4015",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "7a94883d6b14a971"
            ],
            []
        ]
    },
    {
        "id": "ee166ef9f54dd885",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 X axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4007",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 700,
        "wires": [
            [
                "8193341a81e6027b"
            ],
            []
        ]
    },
    {
        "id": "e8acc5ed60b27082",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 3",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [
            [
                "6fb40f9b5081c648"
            ]
        ]
    },
    {
        "id": "ac5d061baba96c68",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 35,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7af019"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "6fb40f9b5081c648",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 31,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#30d025"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "05a9f77747916992",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 9,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#2ee031"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "930eb002fbf06601",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 27,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#34d54f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "85fb9ff66a470c37",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 53,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1ec51b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "c03d1fa31e9d2dc7",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#17d346"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "bf35b174d1c53648",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 29,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": " vibit1 x RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#eded1d",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "3e5e565288c9cf55",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 33,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#59cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "e437896ccfa51396",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 780,
        "wires": []
    },
    {
        "id": "2bf1dd2aacd9afa1",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 25,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#14db6b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 580,
        "wires": []
    },
    {
        "id": "2d75a8f668945feb",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1  Z axis RMS acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4005",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 740,
        "wires": [
            [
                "717f104b58fa6724"
            ],
            []
        ]
    },
    {
        "id": "8a3c1f1494a14e3c",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 Z axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4025",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "ee9ed8a93aa0d36c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "1ebfafe27f17948b"
            ],
            []
        ]
    },
    {
        "id": "6933eb1bb50be750",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 vibit led status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4035",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "e5162720068892a7"
            ],
            []
        ]
    },
    {
        "id": "2078075daf66a62a",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 vibit reboot count",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4031",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "f852b20b48da2276"
            ],
            []
        ]
    },
    {
        "id": "5515a02b9fbfeb82",
        "type": "modbus-read",
        "z": "c11103997c96ae9a",
        "name": "sensor1 RPM",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4039",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "6f47446ec6436da4",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "1859bb6ef119db2c"
            ],
            []
        ]
    },
    {
        "id": "58a6f2fa83aeefae",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 55,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak velocity",
        "label": "m/ms",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1fd312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "d164dbc4b814271f",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 49,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "vibit 1 reboot count",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "a1f268b6946514a2",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 51,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "vibit1 calculated RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#01f401",
            "#e6e600",
            "#18b715"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "13a0d93a86a0b521",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 11,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "vibit 1 led status",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#32d312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "367e0f4c70b3a9bf",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 4",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "ac5d061baba96c68"
            ]
        ]
    },
    {
        "id": "1ebfafe27f17948b",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 5",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "58a6f2fa83aeefae"
            ]
        ]
    },
    {
        "id": "f852b20b48da2276",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 6",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "d164dbc4b814271f"
            ]
        ]
    },
    {
        "id": "9e321688ce52a605",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 7",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 500,
        "wires": [
            [
                "05a9f77747916992"
            ]
        ]
    },
    {
        "id": "9054a8f76085be10",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 8",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 540,
        "wires": [
            [
                "930eb002fbf06601"
            ]
        ]
    },
    {
        "id": "7a94883d6b14a971",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 9",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 580,
        "wires": [
            [
                "2bf1dd2aacd9afa1"
            ]
        ]
    },
    {
        "id": "4bb95d8a9adabfb7",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 10",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 620,
        "wires": [
            [
                "85fb9ff66a470c37"
            ]
        ]
    },
    {
        "id": "c98f4573d198afe4",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 11",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 660,
        "wires": [
            [
                "c03d1fa31e9d2dc7"
            ]
        ]
    },
    {
        "id": "8193341a81e6027b",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 12",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 700,
        "wires": [
            [
                "de290fe9e475c123"
            ]
        ]
    },
    {
        "id": "717f104b58fa6724",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 13",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 740,
        "wires": [
            [
                "3e5e565288c9cf55"
            ]
        ]
    },
    {
        "id": "6599f7032bf7e5c3",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 14",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 780,
        "wires": [
            [
                "e437896ccfa51396"
            ]
        ]
    },
    {
        "id": "3a0f625c19e09a0b",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 15",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 820,
        "wires": [
            [
                "bf35b174d1c53648"
            ]
        ]
    },
    {
        "id": "e5162720068892a7",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 16",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(2));\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "13a0d93a86a0b521"
            ]
        ]
    },
    {
        "id": "1859bb6ef119db2c",
        "type": "function",
        "z": "c11103997c96ae9a",
        "name": "function 17",
        "func": "let buf = Buffer.alloc(4);\n\n// Swap words (common Modbus format)\nbuf.writeUInt16BE(msg.payload[1], 0);  \nbuf.writeUInt16BE(msg.payload[0], 2);\n\nlet value = buf.readFloatBE(0);\n\nmsg.payload = Number(value.toFixed(2));\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "a1f268b6946514a2"
            ]
        ]
    },
    {
        "id": "de290fe9e475c123",
        "type": "ui_gauge",
        "z": "c11103997c96ae9a",
        "name": "",
        "group": "1f51eef9c534c788",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#23e726"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 700,
        "wires": []
    },
    {
        "id": "758e1f9f2ddcb326",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "aae31a4523adbe68",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "aaaef3f7ad70fe60",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a0dd82e30365e0c1",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "e0876f660c5f417c",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "e158989c0b1fbdbd",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a35d10acb41f7ac9",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "83fed15c089d984f",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "33827bda6daf141a",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "3237510c0737055d",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "97544d786354c751",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "499e319b25c59079",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "dfefa7388db14953",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "e2b2fcc40c06ce3c",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "b88b91cb9081df6a",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "adef9df57fb7094a",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "f087582be48f48c9",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "24fd891d3ee12305",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "e587081fb4c83b6d",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "6dcd2efdc7538fd2",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "9f56a30e8227fc77",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "e79fd5fecb8f0adc",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "6621d293391613de",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "fd96c16f2fe4449d",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f2cd847f2f7a559",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b3fea0d437adc7e",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "85d87caae1352c4e",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "b0eadd0ac615faae",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "763c031ffb9dacea",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3fd47612a66bd34",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ba0f9f1218f532e",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "338f37160cd919f7",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "39852cd5968429e0",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "61da9002001f2892",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "929c37cd55008552",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "593b1fa795c28d9c",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6de7c3b6130e20b",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "9af8b8b05032e9ec",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf3a75672286a70b",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a285da493cc5617",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 56,
        "width": 11,
        "height": 1
    },
    {
        "id": "77d3be584ea2cf02",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a9f62fab08a9a5a",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "4520661493610576",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "58d112e2312fda62",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 60,
        "width": 11,
        "height": 1
    },
    {
        "id": "4e41a9673367c98d",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "8aa0d79a5d27d582",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "1dbec1fe6dc56bcb",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8e222adc838b3b1",
        "type": "ui_spacer",
        "z": "c11103997c96ae9a",
        "name": "spacer",
        "group": "1f51eef9c534c788",
        "order": 64,
        "width": 11,
        "height": 1
    },
    {
        "id": "6f47446ec6436da4",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.14.127",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 4000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 4000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "1f51eef9c534c788",
        "type": "ui_group",
        "name": "VIBIT 1 Parameters",
        "tab": "df6de22ea74092ec",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee9ed8a93aa0d36c",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.14.127",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 3,
        "commandDelay": 1,
        "clientTimeout": 5000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 5000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "df6de22ea74092ec",
        "type": "ui_tab",
        "name": "VIBITLITE1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f255959a10e53701",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-dashboard": "3.6.6"
        }
    }
]