docs/nodered/flows.json
[
    {
        "id": "0eb1204c41fc7fbc",
        "type": "tab",
        "label": "Mirac_VIBIT1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0bbb951f950947c",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "Sensor 1 (ID 1)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4013",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 260,
        "y": 640,
        "wires": [
            [
                "ec051a3da4ff2bce"
            ],
            []
        ]
    },
    {
        "id": "59cb9147b05c6d43",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "Sensor 1",
        "group": "17de2a6c38501702",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Temp",
        "label": "C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#cccc33",
            "#3acb71"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "ec051a3da4ff2bce",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 16",
        "func": "const regLow = msg.payload[0];\nconst regHigh = msg.payload[1];\n\nconst buf = Buffer.alloc(4);\nbuf.writeUInt16BE(regHigh, 0);\nbuf.writeUInt16BE(regLow, 2);\n\nmsg.payload = buf.readFloatBE(0);\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.sensor_1 = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 640,
        "wires": [
            [
                "59cb9147b05c6d43",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "5612ddc32ece585a",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 x rms acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4001",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "312dfe5fa97cab05"
            ],
            []
        ]
    },
    {
        "id": "d2ee8856c8079847",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis RMS accleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4003",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 560,
        "wires": [
            [
                "76324f4d54064d17"
            ],
            []
        ]
    },
    {
        "id": "928af306d6ab81ef",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4009",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "d50969068028fc28"
            ],
            []
        ]
    },
    {
        "id": "31455e603bbc22db",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Z axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4011",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "1bd446a838777157"
            ],
            []
        ]
    },
    {
        "id": "ca9cfa3dae3cf05b",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4017",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "2253de44d2fa6e7f"
            ],
            []
        ]
    },
    {
        "id": "78ea5b7dc13b6a8e",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Z axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4019",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "e0abf3da98f615f1"
            ],
            []
        ]
    },
    {
        "id": "d9fd44cde1d80ac0",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 X axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4021",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "636c69f1b44c0e29"
            ],
            []
        ]
    },
    {
        "id": "16090769e50baffb",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Y axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4023",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "350fa8841e033c89"
            ],
            []
        ]
    },
    {
        "id": "d6ddabb420fd90b4",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 X axis peak acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4015",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "3e47165702f63797"
            ],
            []
        ]
    },
    {
        "id": "8f3281a15ad8c2c0",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 X axis RMS velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4007",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "be94a8891301d125"
            ],
            []
        ]
    },
    {
        "id": "636c69f1b44c0e29",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 6",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_peak_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "f30c10e0144ad923",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "bc580860f20a5dfc",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 35,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7af019"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "f30c10e0144ad923",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 31,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#30d025"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "53bb90b18061a604",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 9,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#2ee031"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "7a1e8c34d246cf74",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 27,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#34d54f"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "ceea368d7201e006",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 53,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1ec51b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a9fa29d9c2e515b",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#17d346"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "1baebb22f12e7ef8",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 29,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": " vibit1 x RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#eded1d",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "210b037aa6221c26",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 33,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#59cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 520,
        "wires": []
    },
    {
        "id": "a2779775d82fe9c5",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Y axis RMS acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "fd19083f52a67167",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 25,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis peak acceleration",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#14db6b"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "a921b5ad64a9bc46",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1  Z axis RMS acceleration",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4005",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "18677e4a3aa30d80"
            ],
            []
        ]
    },
    {
        "id": "fe22b136773fdad5",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 Z axis peak velocity",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4025",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "878f165d49caddf0"
            ],
            []
        ]
    },
    {
        "id": "2f9d0d1681746dfb",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 vibit led status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4035",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "e964aeba7d6d8bf8"
            ],
            []
        ]
    },
    {
        "id": "e95563b68cea09d3",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 vibit reboot count",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4031",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "7b9e02b8bf2c3781"
            ],
            []
        ]
    },
    {
        "id": "7a670c506f4eaa34",
        "type": "modbus-read",
        "z": "0eb1204c41fc7fbc",
        "name": "sensor1 RPM",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4039",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "fe242e4b4fab5f5c"
            ],
            []
        ]
    },
    {
        "id": "e467a6c4e6dd0bd0",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 55,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 Z axis peak velocity",
        "label": "m/ms",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#1fd312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "a27ede3b9f8f41c9",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 49,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit 1 reboot count",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "07f4c10d8eea2d62",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 51,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 calculated RPM",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#01f401",
            "#e6e600",
            "#18b715"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "fdcdb81f0dba4a5b",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 11,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit 1 led status",
        "label": "INTEGER",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#32d312"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "350fa8841e033c89",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 5",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_peak_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "bc580860f20a5dfc",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "878f165d49caddf0",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 4",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_peak_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 160,
        "wires": [
            [
                "e467a6c4e6dd0bd0",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "7b9e02b8bf2c3781",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 3",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.reboot_count = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "a27ede3b9f8f41c9",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "e0abf3da98f615f1",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 7",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_peak_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "53bb90b18061a604",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "2253de44d2fa6e7f",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 8",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_peak_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "7a1e8c34d246cf74",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "3e47165702f63797",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 9",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_peak_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "fd19083f52a67167",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "1bd446a838777157",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 10",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_rms_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "ceea368d7201e006",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "d50969068028fc28",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 11",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_rms_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "2a9fa29d9c2e515b",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "be94a8891301d125",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 12",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_rms_velocity = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "92d875b38e4fb401",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "18677e4a3aa30d80",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 13",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.z_rms_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 520,
        "wires": [
            [
                "210b037aa6221c26",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "76324f4d54064d17",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 14",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.y_rms_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 560,
        "wires": [
            [
                "a2779775d82fe9c5",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "312dfe5fa97cab05",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 15",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.x_rms_acceleration = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 600,
        "wires": [
            [
                "1baebb22f12e7ef8",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "e964aeba7d6d8bf8",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 2",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.lead_status = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "fdcdb81f0dba4a5b",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "fe242e4b4fab5f5c",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "function 1",
        "func": "let buf = Buffer.alloc(4);\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\nlet value = buf.readFloatBE(0);\nmsg.payload = Number(value.toFixed(2));\n\n// Store in global vibit\nlet vibit = global.get('vibit') || {};\nvibit.calculated_rpm = msg.payload;\nglobal.set('vibit', vibit);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 40,
        "wires": [
            [
                "07f4c10d8eea2d62",
                "vibit1_aggregator"
            ]
        ]
    },
    {
        "id": "vibit1_aggregator",
        "type": "function",
        "z": "0eb1204c41fc7fbc",
        "name": "VIBIT1 Aggregator (mappedData)",
        "func": "const v = global.get('vibit') || {};\n\nconst mappedData = {\n  status: {\n    green: v.lead_status === 1,\n    yellow: v.lead_status === 0,\n    red: false,\n    cycle_start: (v.calculated_rpm || 0) > 0\n  },\n  spindle: {\n    speed: v.calculated_rpm || 0,\n    temperature: v.sensor_1 || 0,\n    vibration: v.x_rms_acceleration || 0\n  },\n  tool: {\n    number: 1,\n    temperature: v.sensor_1 || 0,\n    vibration: v.y_rms_acceleration || 0,\n    reboot_count: v.reboot_count || 0\n  },\n  axes: {\n    x: {\n      rms_accel:    v.x_rms_acceleration || 0,\n      rms_velocity: v.x_rms_velocity || 0,\n      peak_accel:   v.x_peak_acceleration || 0,\n      peak_velocity: v.x_peak_velocity || 0\n    },\n    y: {\n      rms_accel:    v.y_rms_acceleration || 0,\n      rms_velocity: v.y_rms_velocity || 0,\n      peak_accel:   v.y_peak_acceleration || 0,\n      peak_velocity: v.y_peak_velocity || 0\n    },\n    z: {\n      rms_accel:    v.z_rms_acceleration || 0,\n      rms_velocity: v.z_rms_velocity || 0,\n      peak_accel:   v.z_peak_acceleration || 0,\n      peak_velocity: v.z_peak_velocity || 0\n    }\n  }\n};\n\nmsg.payload = mappedData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "92d875b38e4fb401",
        "type": "ui_gauge",
        "z": "0eb1204c41fc7fbc",
        "name": "",
        "group": "17de2a6c38501702",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Vibit1 X axis RMS velocity",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#23e726"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "86c7e3fe0583c9e2",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "96d19cdee22b7d23",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "47b8bb5128e1f8de",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5472e7b791988827",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2ba12008d908de6",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "ad2b1a85f52995c0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c21b1be45a5d77c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "e39361f404274c59",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "35d131bb4a45852d",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "311c617ac7352da7",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "067a018ea84b811d",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "82d95c7018fcb8e5",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "ef93641e97e04e4c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "2afa06f837a16081",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "72bc8ec5d342337b",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "667578c97c635d45",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "642970109870bc99",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "81da6f43999f5226",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "72c98845f4a9a02e",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "885aa3e272e73535",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "ebfd2135965c8b9d",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "a8f761c1ac6804b0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "54c87121742f96f0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "c47f50c7cfaf7ced",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "a25c7b2cca0b3403",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "8f090ca132d485e0",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "261c2ed9f1ed610c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "13a2cb8717320784",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ee4991ad292444c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "6cd16dfb286b8eb4",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "530e1c916e0d9685",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "b846ffca2b4438fb",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac7edcbac77e81c8",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ff8ef65a629f256",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "edc87717e345209c",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "8ee6c3d2fa9199ef",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "1701f904082d7fd4",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "0206e70d1b48d624",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "944ed1491349c3f4",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "38730496497dcd52",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 56,
        "width": 11,
        "height": 1
    },
    {
        "id": "680653ce642feaa5",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "e460938c2e54bf55",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "9dbf15212943d926",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "f80f5360a50801a6",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 60,
        "width": 11,
        "height": 1
    },
    {
        "id": "a06257fbac779dc6",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "95a1ecd0b8a4b523",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d85db538c7d2efd",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "d799b1d919457a83",
        "type": "ui_spacer",
        "z": "0eb1204c41fc7fbc",
        "name": "spacer",
        "group": "17de2a6c38501702",
        "order": 64,
        "width": 11,
        "height": 1
    },
    {
        "id": "b390f9d369b8c389",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.14.103",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 3000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 1000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "17de2a6c38501702",
        "type": "ui_group",
        "name": "VIBIT 1 Parameters",
        "tab": "3d38847b9c8494c6",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d38847b9c8494c6",
        "type": "ui_tab",
        "name": "Mirac_VIBITLITE1",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "abdef0e55b58daaf",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.45.2",
            "node-red-dashboard": "3.6.6"
        }
    }
]