docs/nodered/original energy meter.json
[
    {
        "id": "aa2cf1c30c4f7c10",
        "type": "tab",
        "label": "Mirac_ Energy Meter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b840f8bd9c5ce2b",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 7",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 280,
        "wires": [
            [
                "d214bbd99d442d21"
            ]
        ]
    },
    {
        "id": "8e396f9a156cd067",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 11,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage V12",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "d214bbd99d442d21",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 12,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage V23",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb87"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "5a4e0c0b1b7b6709",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 13,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage V31",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb78"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "f718e4a321455aa8",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 18,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Average Voltage LL",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#6ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "539b997741aecb4c",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 15,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Current I2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "771ccbde51dcd65b",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 16,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Current I3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "05b6861f1bbdd842",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 10,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kW3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "86a37a0cc893b4a0",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kW1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "162e8c459c07bd67",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 9,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kW2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "d120aeaff7662b35",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 14,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Current I1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "48c6380d83dfed4e",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 42,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Average Voltage LN",
        "label": "mm/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#60cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "1476422f97705dce",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage V3N",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "9aa1499fa20445d4",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage V1N",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "1fcc17fe62d80434",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Voltage V2N",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#6ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "5b3cc2d082f663ef",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 6",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            [
                "8e396f9a156cd067"
            ]
        ]
    },
    {
        "id": "5ff6e11efd4dc462",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 5",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "48c6380d83dfed4e"
            ]
        ]
    },
    {
        "id": "e3186a839c5aaeda",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 4",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "1476422f97705dce"
            ]
        ]
    },
    {
        "id": "72aaa0bef263e422",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 8",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "5a4e0c0b1b7b6709"
            ]
        ]
    },
    {
        "id": "004eddf42ce1e114",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 9",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "f718e4a321455aa8"
            ]
        ]
    },
    {
        "id": "f3ef77b3a0c4f9c4",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 10",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "d120aeaff7662b35"
            ]
        ]
    },
    {
        "id": "7cd888ee2b4cec2e",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 11",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "539b997741aecb4c"
            ]
        ]
    },
    {
        "id": "e71d527545ed0e5a",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 12",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "771ccbde51dcd65b"
            ]
        ]
    },
    {
        "id": "bafd452b35a5d38d",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 13",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "84976fed0231afcd"
            ]
        ]
    },
    {
        "id": "d0884065a4ad459c",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 14",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "86a37a0cc893b4a0"
            ]
        ]
    },
    {
        "id": "f62fe1ad5d19bcc5",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 15",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "162e8c459c07bd67"
            ]
        ]
    },
    {
        "id": "a8c88b3bc55f5816",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 16",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 640,
        "wires": [
            [
                "05b6861f1bbdd842"
            ]
        ]
    },
    {
        "id": "ff345539b5115113",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 3",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "1fcc17fe62d80434"
            ]
        ]
    },
    {
        "id": "84976fed0231afcd",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 44,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Average Current",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#91cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "451e0b6cf4519178",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 17",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "371840d433ae1dc4"
            ]
        ]
    },
    {
        "id": "815c8dd1841bcdcd",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 23",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 920,
        "wires": [
            [
                "195efc4eef5bf587"
            ]
        ]
    },
    {
        "id": "3b85fdfef2d3ac08",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVA3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#65cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "195efc4eef5bf587",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 21,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total kW",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 920,
        "wires": []
    },
    {
        "id": "2114c40f05657f24",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 38,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total kVAr",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb6a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 960,
        "wires": []
    },
    {
        "id": "b11ee98fe3dde936",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 39,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total kVA",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb6a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b866042acdcbaec2",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 32,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PF2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 1080,
        "wires": []
    },
    {
        "id": "39e755a95cb0bbe3",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 33,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PF3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d43b831eeb0a2075",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 30,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Net kVArh (MAINS)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#89cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6e2226ef04ee1ff7",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 29,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Net kWh (MAINS)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#74cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ac487361ad417b80",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 31,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "PF1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb52"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 1040,
        "wires": []
    },
    {
        "id": "32641dcc353e3fd2",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVA2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 840,
        "wires": []
    },
    {
        "id": "052b01c5a7cda557",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVA1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb87"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 800,
        "wires": []
    },
    {
        "id": "8cec3d1c83ca2cf7",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 23,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVAr2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7bcb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "0c29d0d66c3ec621",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 34,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVAr3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 760,
        "wires": []
    },
    {
        "id": "4d6026fa40623d83",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 22",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 880,
        "wires": [
            [
                "3b85fdfef2d3ac08"
            ]
        ]
    },
    {
        "id": "33186e69d78dcfa6",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 21",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "32641dcc353e3fd2"
            ]
        ]
    },
    {
        "id": "262cbb6b5ea9de05",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 20",
        "func": "\nlet buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 800,
        "wires": [
            [
                "052b01c5a7cda557"
            ]
        ]
    },
    {
        "id": "f8a7daf0065ee4d1",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 24",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 960,
        "wires": [
            [
                "2114c40f05657f24"
            ]
        ]
    },
    {
        "id": "39b2a448a60d58ee",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 25",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1000,
        "wires": [
            [
                "b11ee98fe3dde936"
            ]
        ]
    },
    {
        "id": "0b349b0ec6c27484",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 26",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1040,
        "wires": [
            [
                "ac487361ad417b80"
            ]
        ]
    },
    {
        "id": "40eeb66bbe672bac",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 27",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1080,
        "wires": [
            [
                "b866042acdcbaec2"
            ]
        ]
    },
    {
        "id": "2d96fdf4d3a73f5d",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 28",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "39e755a95cb0bbe3"
            ]
        ]
    },
    {
        "id": "ed46cbe348ab6df8",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 29",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "07eca9d2349048ef"
            ]
        ]
    },
    {
        "id": "5004879bcb3029d1",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 30",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "6e2226ef04ee1ff7"
            ]
        ]
    },
    {
        "id": "ea2e1b09c4894318",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 31",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1240,
        "wires": [
            [
                "d43b831eeb0a2075"
            ]
        ]
    },
    {
        "id": "47ed7178a1050960",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 19",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "0c29d0d66c3ec621"
            ]
        ]
    },
    {
        "id": "5a66873931801e2b",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 18",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 720,
        "wires": [
            [
                "8cec3d1c83ca2cf7"
            ]
        ]
    },
    {
        "id": "07eca9d2349048ef",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 24,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Average PF",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 1160,
        "wires": []
    },
    {
        "id": "bbfd1c953c60acdc",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 32",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1280,
        "wires": [
            [
                "093ff5491ee547fa"
            ]
        ]
    },
    {
        "id": "65ca6683e3c9f66f",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 38",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1520,
        "wires": [
            [
                "53948f7702117fee"
            ]
        ]
    },
    {
        "id": "fcd89832ca345ac2",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 20,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Max DMD Reactive Power",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 1480,
        "wires": []
    },
    {
        "id": "53948f7702117fee",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 41,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Max DMD Apparent Power",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb71"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 1520,
        "wires": []
    },
    {
        "id": "00ae077682c26464",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 57,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kWh1 – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1560,
        "wires": []
    },
    {
        "id": "4f79201949c37e0d",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 47,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kWh2 – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#7bcb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1600,
        "wires": []
    },
    {
        "id": "34fcec11a90929a6",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 52,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kWh1 – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb78"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1680,
        "wires": []
    },
    {
        "id": "9cab10df642bc67d",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 45,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kWh2 – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb80"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1720,
        "wires": []
    },
    {
        "id": "74af186b2c5aecb8",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 50,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVArh1 – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1880,
        "wires": []
    },
    {
        "id": "4426acaf6285a847",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 54,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total kWh – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 1800,
        "wires": []
    },
    {
        "id": "d3a765a711949b78",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 48,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total kWh – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#60cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 1840,
        "wires": []
    },
    {
        "id": "ede9c9411e9c9f69",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 55,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kWh3 – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1bf629e6d17132d3",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 40,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Max DMD Active Power",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb6a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1440,
        "wires": []
    },
    {
        "id": "859f973ec052db81",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 27,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Net kVAh (DG)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 1400,
        "wires": []
    },
    {
        "id": "0ce2247b8065ed2a",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 25,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Net kWh (DG)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#91cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8f8f18930d34b4f5",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 26,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Net kVAh (DG)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bddb1d814863fce0",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 37",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1480,
        "wires": [
            [
                "fcd89832ca345ac2"
            ]
        ]
    },
    {
        "id": "06d92b12ac3a954a",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 36",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1440,
        "wires": [
            [
                "1bf629e6d17132d3"
            ]
        ]
    },
    {
        "id": "2c34bcc5fc2a2e42",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 35",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1400,
        "wires": [
            [
                "859f973ec052db81"
            ]
        ]
    },
    {
        "id": "e1820ba61992fa74",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 39",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1560,
        "wires": [
            [
                "00ae077682c26464"
            ]
        ]
    },
    {
        "id": "8ab6aa42369b80df",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 40",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1600,
        "wires": [
            [
                "4f79201949c37e0d"
            ]
        ]
    },
    {
        "id": "e328e9e4806abca4",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 41",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1640,
        "wires": [
            [
                "ede9c9411e9c9f69"
            ]
        ]
    },
    {
        "id": "19a8f4607584a5aa",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 42",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1680,
        "wires": [
            [
                "34fcec11a90929a6"
            ]
        ]
    },
    {
        "id": "e60e39bf6aa1e690",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 43",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1720,
        "wires": [
            [
                "9cab10df642bc67d"
            ]
        ]
    },
    {
        "id": "5efb6683dacf90e5",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 44",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[1], 0);\nbuf.writeUInt16BE(msg.payload[0], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1760,
        "wires": [
            [
                "12c5ebd29271bef1"
            ]
        ]
    },
    {
        "id": "a62070090553b4ef",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 45",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1800,
        "wires": [
            [
                "4426acaf6285a847"
            ]
        ]
    },
    {
        "id": "1dcd3ec41383f89a",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 46",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1840,
        "wires": [
            [
                "d3a765a711949b78"
            ]
        ]
    },
    {
        "id": "255470802fe78cc3",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 47",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1880,
        "wires": [
            [
                "74af186b2c5aecb8"
            ]
        ]
    },
    {
        "id": "89ec34e57f6f080e",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 34",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "8f8f18930d34b4f5"
            ]
        ]
    },
    {
        "id": "0b8a40b15e6d6229",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 33",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1320,
        "wires": [
            [
                "0ce2247b8065ed2a"
            ]
        ]
    },
    {
        "id": "12c5ebd29271bef1",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 51,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kWh3 – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb78"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f4ea1e415d7d31fd",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 48",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1920,
        "wires": [
            [
                "dce04eaa40e2f10a"
            ]
        ]
    },
    {
        "id": "0410c78d1e6f5ffa",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 54",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2160,
        "wires": [
            [
                "654a47bd3c5fa11d"
            ]
        ]
    },
    {
        "id": "2c66564c8ae47de4",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 37,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total kVArh – Import ",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 2120,
        "wires": []
    },
    {
        "id": "654a47bd3c5fa11d",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 56,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": " Total kVArh – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 2160,
        "wires": []
    },
    {
        "id": "13b63f6573665356",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 46,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVAh-1 ",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 2200,
        "wires": []
    },
    {
        "id": "0c80543b56def7bf",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 17,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVAh-2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 2240,
        "wires": []
    },
    {
        "id": "3b68f95c6b214697",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 53,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVAh-3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb43"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 2280,
        "wires": []
    },
    {
        "id": "7541e9a47e78e94e",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 28,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVArh3– Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb71"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 2080,
        "wires": []
    },
    {
        "id": "c38b2ef99f42178f",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 43,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVArh2 – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e27745073d458f91",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 49,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVArh3 – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb5e"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1960,
        "wires": []
    },
    {
        "id": "1db76e01e01333f8",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 35,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVArh1 – Export",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#59cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 2000,
        "wires": []
    },
    {
        "id": "88ebc1c7fec286af",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 53",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2120,
        "wires": [
            [
                "2c66564c8ae47de4"
            ]
        ]
    },
    {
        "id": "1f28189d74d033d1",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 52",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2080,
        "wires": [
            [
                "7541e9a47e78e94e"
            ]
        ]
    },
    {
        "id": "298ce3665278dba0",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 51",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2040,
        "wires": [
            [
                "c38b2ef99f42178f"
            ]
        ]
    },
    {
        "id": "86730d6559da04ed",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 55",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2200,
        "wires": [
            [
                "13b63f6573665356"
            ]
        ]
    },
    {
        "id": "8c017c918d6a0808",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 56",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2240,
        "wires": [
            [
                "0c80543b56def7bf"
            ]
        ]
    },
    {
        "id": "ff5c463c03f59562",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 57",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2280,
        "wires": [
            [
                "3b68f95c6b214697"
            ]
        ]
    },
    {
        "id": "d39abfe76748c7a2",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 50",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2000,
        "wires": [
            [
                "1db76e01e01333f8"
            ]
        ]
    },
    {
        "id": "e21e1397416eed14",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 49",
        "func": "let buf = Buffer.alloc(4);\n\nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\nmsg.payload = buf.readFloatBE(0);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1960,
        "wires": [
            [
                "e27745073d458f91"
            ]
        ]
    },
    {
        "id": "371840d433ae1dc4",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 22,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVAr1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#43cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "093ff5491ee547fa",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 19,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Total Net kVAh (MAINS)",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#6ccb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 1280,
        "wires": []
    },
    {
        "id": "dce04eaa40e2f10a",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 36,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "kVArh2 – Import",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#3acb4a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 1920,
        "wires": []
    },
    {
        "id": "bf8ccbe5712d179a",
        "type": "ui_gauge",
        "z": "aa2cf1c30c4f7c10",
        "name": "",
        "group": "fa7b48e791e29c33",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Frequency",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#3e653e",
            "#e6e600",
            "#4acb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "e64542e1f84abbaf",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 2",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(4));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 80,
        "wires": [
            [
                "9aa1499fa20445d4"
            ]
        ]
    },
    {
        "id": "a9b36ada2f65c931",
        "type": "function",
        "z": "aa2cf1c30c4f7c10",
        "name": "function 1",
        "func": "\nif (!Array.isArray(msg.payload) || msg.payload.length < 2) {\n    return null;\n}\n\n\nlet buf = Buffer.alloc(4);\n\n \nbuf.writeUInt16BE(msg.payload[0], 0);\nbuf.writeUInt16BE(msg.payload[1], 2);\n\n\nlet value = buf.readFloatBE(0);\n\n\nmsg.payload = Number(value.toFixed(6));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 40,
        "wires": [
            [
                "bf8ccbe5712d179a"
            ]
        ]
    },
    {
        "id": "6e86a8f9e0634391",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVArh1 – Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "92",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1880,
        "wires": [
            [
                "255470802fe78cc3"
            ],
            []
        ]
    },
    {
        "id": "ec10480b980b2db1",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total kWh – Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "90",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1840,
        "wires": [
            [
                "1dcd3ec41383f89a"
            ],
            []
        ]
    },
    {
        "id": "c8f0c50dc008a792",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kWh2– Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "84",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 1720,
        "wires": [
            [
                "e60e39bf6aa1e690"
            ],
            []
        ]
    },
    {
        "id": "f9c9f83d591394a2",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kWh3 – Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "86",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1760,
        "wires": [
            [
                "5efb6683dacf90e5"
            ],
            []
        ]
    },
    {
        "id": "fba741048f48d61e",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total kWh – Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "88",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1800,
        "wires": [
            [
                "a62070090553b4ef"
            ],
            []
        ]
    },
    {
        "id": "abab16053eda78c4",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVArh2 – Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "94",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1920,
        "wires": [
            [
                "f4ea1e415d7d31fd"
            ],
            []
        ]
    },
    {
        "id": "9a0343a1fbf3338a",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": " kVAh-2 ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "110",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 2240,
        "wires": [
            [
                "8c017c918d6a0808"
            ],
            []
        ]
    },
    {
        "id": "d5e0d28489254b2b",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVAh-1 ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "108",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 2200,
        "wires": [
            [
                "86730d6559da04ed"
            ],
            []
        ]
    },
    {
        "id": "fc8aa626c57a0a2a",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": " Total kVArh – Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "106",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 2160,
        "wires": [
            [
                "0410c78d1e6f5ffa"
            ],
            []
        ]
    },
    {
        "id": "52bc86acd8c98ce9",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total kVArh – Import ",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "104",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 2120,
        "wires": [
            [
                "88ebc1c7fec286af"
            ],
            []
        ]
    },
    {
        "id": "656b61524542e705",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVAh-3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "112",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 2280,
        "wires": [
            [
                "ff5c463c03f59562"
            ],
            []
        ]
    },
    {
        "id": "c05adf09f2205c27",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVArh3 – Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "102",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 2080,
        "wires": [
            [
                "1f28189d74d033d1"
            ],
            []
        ]
    },
    {
        "id": "c0b494ceabc04481",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVArh1 – Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "98",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 2000,
        "wires": [
            [
                "d39abfe76748c7a2"
            ],
            []
        ]
    },
    {
        "id": "a61164318974510b",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVArh2– Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "100",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 2040,
        "wires": [
            [
                "298ce3665278dba0"
            ],
            []
        ]
    },
    {
        "id": "f67b8db27e7edeaf",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVArh3 – Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "96",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1960,
        "wires": [
            [
                "e21e1397416eed14"
            ],
            []
        ]
    },
    {
        "id": "7390afdcff977917",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total Net kVAh (MAINS)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "60",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "ea2e1b09c4894318"
            ],
            []
        ]
    },
    {
        "id": "5402dfadc50ef954",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total Net kVAh (MAINS)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "58",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 1200,
        "wires": [
            [
                "5004879bcb3029d1"
            ],
            []
        ]
    },
    {
        "id": "f3fe9021236b5f44",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Average PF",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "54",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "ed46cbe348ab6df8"
            ],
            []
        ]
    },
    {
        "id": "c77cebad93e76593",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total Net kVAh (MAINS)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "62",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "bbfd1c953c60acdc"
            ],
            []
        ]
    },
    {
        "id": "73ce7d42ce3f35a9",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kWh1 – Export",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "82",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1680,
        "wires": [
            [
                "19a8f4607584a5aa"
            ],
            []
        ]
    },
    {
        "id": "132b697a77650856",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kWh2 – Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "78",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1600,
        "wires": [
            [
                "8ab6aa42369b80df"
            ],
            []
        ]
    },
    {
        "id": "30798bba848f73d6",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kWh1 – Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "76",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 1560,
        "wires": [
            [
                "e1820ba61992fa74"
            ],
            []
        ]
    },
    {
        "id": "0dea220784f4a6a6",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Max DMD Apparent Power",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "74",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 1520,
        "wires": [
            [
                "65ca6683e3c9f66f"
            ],
            []
        ]
    },
    {
        "id": "3f2a83ed91b944d5",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Max DMD Reactive Power",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "72",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 1480,
        "wires": [
            [
                "bddb1d814863fce0"
            ],
            []
        ]
    },
    {
        "id": "830e082a5d23a8ea",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kWh3– Import",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "80",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 1640,
        "wires": [
            [
                "e328e9e4806abca4"
            ],
            []
        ]
    },
    {
        "id": "16a8c8f2b23b48d3",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Max DMD Active Power",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "70",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 1440,
        "wires": [
            [
                "06d92b12ac3a954a"
            ],
            []
        ]
    },
    {
        "id": "a07427acf631015d",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total Net kVArh (DG)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "66",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1360,
        "wires": [
            [
                "89ec34e57f6f080e"
            ],
            []
        ]
    },
    {
        "id": "8501ab1e8cd2a708",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total Net kVAh (DG)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "68",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "2c34bcc5fc2a2e42"
            ],
            []
        ]
    },
    {
        "id": "0d2a8784ef718a6e",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total Net kWh (DG)",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "64",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 1320,
        "wires": [
            [
                "0b8a40b15e6d6229"
            ],
            []
        ]
    },
    {
        "id": "634be5272aab6403",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kW3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "28",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 640,
        "wires": [
            [
                "a8c88b3bc55f5816"
            ],
            []
        ]
    },
    {
        "id": "1e39f315673943f8",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kW2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "26",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 600,
        "wires": [
            [
                "f62fe1ad5d19bcc5"
            ],
            []
        ]
    },
    {
        "id": "775dfbb13ac8dd66",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVAr1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "30",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 680,
        "wires": [
            [
                "451e0b6cf4519178"
            ],
            []
        ]
    },
    {
        "id": "c572b6b67a5e8392",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "PF3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "52",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "2d96fdf4d3a73f5d"
            ],
            []
        ]
    },
    {
        "id": "4f2dc2574c8fdff0",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "PF2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "50",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "40eeb66bbe672bac"
            ],
            []
        ]
    },
    {
        "id": "54c441f45674f281",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total kVA",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "30046",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "39b2a448a60d58ee"
            ],
            []
        ]
    },
    {
        "id": "fcfbc412fe3bc7b4",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total kVAr",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "44",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 960,
        "wires": [
            [
                "f8a7daf0065ee4d1"
            ],
            []
        ]
    },
    {
        "id": "f1723e19955955b7",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Total kW",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "42",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 920,
        "wires": [
            [
                "815c8dd1841bcdcd"
            ],
            []
        ]
    },
    {
        "id": "3067c6e752817b38",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVA3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "40",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 880,
        "wires": [
            [
                "4d6026fa40623d83"
            ],
            []
        ]
    },
    {
        "id": "9ea988c402881b35",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "PF1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "48",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 1040,
        "wires": [
            [
                "0b349b0ec6c27484"
            ],
            []
        ]
    },
    {
        "id": "4b883cd5cc92b275",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVA2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "38",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 840,
        "wires": [
            [
                "33186e69d78dcfa6"
            ],
            []
        ]
    },
    {
        "id": "9ec16479079828bc",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVAr3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "34",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 760,
        "wires": [
            [
                "47ed7178a1050960"
            ],
            []
        ]
    },
    {
        "id": "f98eabd5ed619666",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVA1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "36",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "262cbb6b5ea9de05"
            ],
            []
        ]
    },
    {
        "id": "2e9e04f0cc743a68",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kVAr2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "32",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "5a66873931801e2b"
            ],
            []
        ]
    },
    {
        "id": "fa390d6148de44f0",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Current I3",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "20",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "e71d527545ed0e5a"
            ],
            []
        ]
    },
    {
        "id": "9cb672a401478acd",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Current I2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "18",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "7cd888ee2b4cec2e"
            ],
            []
        ]
    },
    {
        "id": "a9147c5b9e5c4ad6",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Average Voltage LL",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "14",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "004eddf42ce1e114"
            ],
            []
        ]
    },
    {
        "id": "b6a30be3594c7a6b",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Voltage V31",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "12",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "72aaa0bef263e422"
            ],
            []
        ]
    },
    {
        "id": "5c5b7ad62df32827",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Voltage V23",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "10",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "1b840f8bd9c5ce2b"
            ],
            []
        ]
    },
    {
        "id": "156967c735527989",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Voltage V12",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "8",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "5b3cc2d082f663ef"
            ],
            []
        ]
    },
    {
        "id": "0fd859a5e5d68d0f",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Current I1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "16",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "f3ef77b3a0c4f9c4"
            ],
            []
        ]
    },
    {
        "id": "459e526cb9406f68",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Average Current",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "22",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "bafd452b35a5d38d"
            ],
            []
        ]
    },
    {
        "id": "1bf6cd11cadc419c",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "kW1",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "24",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "d0884065a4ad459c"
            ],
            []
        ]
    },
    {
        "id": "cbf320b54e2b724b",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Average Voltage LN",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "6",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "5ff6e11efd4dc462"
            ],
            []
        ]
    },
    {
        "id": "d234578d0e0834ea",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Voltage V2N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "InputRegister",
        "adr": "2",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "ff345539b5115113"
            ],
            []
        ]
    },
    {
        "id": "9eb7f07ebb01cf20",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Voltage V3N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "4",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "e3186a839c5aaeda"
            ],
            []
        ]
    },
    {
        "id": "cc64508e1734088d",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Voltage V1N",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "e64542e1f84abbaf"
            ],
            []
        ]
    },
    {
        "id": "2d714a1938f83bd3",
        "type": "modbus-read",
        "z": "aa2cf1c30c4f7c10",
        "name": "Frequency",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "56",
        "quantity": "2",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "10",
        "server": "b390f9d369b8c389",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "a9b36ada2f65c931"
            ],
            []
        ]
    },
    {
        "id": "7d28384190f924e4",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "ada2e02404bb3aa4",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "36cd2abf79d8f73f",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "18f40abf0f9e8530",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "0f0e5de612a7000b",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ec41c62e6a810cf",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "d5307933ccdb373a",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "4e932730da6b123c",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "49a7c77cee466f85",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "b900ae7accea9b6f",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "caf6a7769f5e28bf",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "17ed41110d0bbaee",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "d555688e80d2a78c",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "6fe7ae11af0c9dbc",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "3db93066cd523793",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "a29665737a785fdc",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "4ef3659fdf6e62a4",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "ddee1ab85504d6b5",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "6e765abd5f083c24",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "b1b21bc22a9aac16",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "fad7b7bfe947eb84",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "3975a5ac2bec1c66",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "5829223e0d74f4e5",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "8b58a8c48589073f",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4b4ed2fe8701c4c",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "3fc19891ce809b17",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "e06c7634d5af3737",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ad86bfd579272e4",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b984b64f493ac2f",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "1d1b3fc134aa7e53",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "6deae21549c2faa1",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "a37bb1af0cce2cc1",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 44,
        "width": 1,
        "height": 1
    },
    {
        "id": "80e6e82bca314953",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ffd147d7fb82f34",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "241c07d6e5706f71",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "11848ba0b598e1cd",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "830b34dc6f6fddda",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 50,
        "width": 1,
        "height": 1
    },
    {
        "id": "e8d884a3fc427ac0",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 52,
        "width": 1,
        "height": 1
    },
    {
        "id": "78099ee655129c7b",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 54,
        "width": 1,
        "height": 1
    },
    {
        "id": "c1008e47890eeb7e",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 56,
        "width": 11,
        "height": 1
    },
    {
        "id": "f70eb28b8448a6c8",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 57,
        "width": 1,
        "height": 1
    },
    {
        "id": "a041dd1130270541",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 58,
        "width": 1,
        "height": 1
    },
    {
        "id": "487c233edd2c511c",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "f1b2d46a665bff3d",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 60,
        "width": 11,
        "height": 1
    },
    {
        "id": "31514bfa61a406a2",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "85f5d99120e28144",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "da5dea6c5220fc56",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c3295996a7932c1",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "bbc40784f1dadb09",
        "order": 64,
        "width": 11,
        "height": 1
    },
    {
        "id": "ae37fdeb3315a0d5",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 58,
        "width": 9,
        "height": 1
    },
    {
        "id": "64cd503e3628e44b",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 59,
        "width": 9,
        "height": 1
    },
    {
        "id": "8e0f3c070b85fc60",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 60,
        "width": 9,
        "height": 1
    },
    {
        "id": "0559bead2cb2575f",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 58,
        "width": 9,
        "height": 1
    },
    {
        "id": "2941d4ec5c90f7d9",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 59,
        "width": 9,
        "height": 1
    },
    {
        "id": "3dac1f4aa16ea370",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 60,
        "width": 9,
        "height": 1
    },
    {
        "id": "d28ddfe2a103d452",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 58,
        "width": 9,
        "height": 1
    },
    {
        "id": "fb8914064d3e9c86",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 59,
        "width": 9,
        "height": 1
    },
    {
        "id": "12d57235f2e7d2c1",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 60,
        "width": 9,
        "height": 1
    },
    {
        "id": "654adfd17e2416b6",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 58,
        "width": 9,
        "height": 1
    },
    {
        "id": "8dec51f2093da3d0",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 59,
        "width": 9,
        "height": 1
    },
    {
        "id": "75d7b2ad5b25197a",
        "type": "ui_spacer",
        "z": "aa2cf1c30c4f7c10",
        "name": "spacer",
        "group": "fa7b48e791e29c33",
        "order": 60,
        "width": 9,
        "height": 1
    },
    {
        "id": "fa7b48e791e29c33",
        "type": "ui_group",
        "name": "Energy Meter Parameters",
        "tab": "9b33fb2edc2c9023",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b390f9d369b8c389",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "10.10.14.103",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 3000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 1000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "bbc40784f1dadb09",
        "type": "ui_group",
        "name": "VIBIT2 Parameters",
        "tab": "d83c4f65dcce5326",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b33fb2edc2c9023",
        "type": "ui_tab",
        "name": "Mirac_ Energy Meter",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d83c4f65dcce5326",
        "type": "ui_tab",
        "name": "Mirac_VIBITLITE2",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf2858f295d88ce1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-modbus": "5.45.2"
        }
    }
]